body {
	background-color:#E0E0E0;
	font-family: Raleway;
}

h1 {
	font-family: Lobster;
	color:#B71C1C;
}

.students{
	padding-left:20%;
}

.tutors{
	padding-left:20%;
}
ul li{
	list-style-position: inside;
}

#navbar-main{
	background-color: #64B5F6;
	border-radius:0px;
	box-shadow: 3px 3px 5px #42A5F5;
}